{% extends 'base.html' %}
{% load static %}
{% load basket_tools %}

{% block page_header %}
    <!-- Page Header Content -->
{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col bg-light rounded">
            <h1 class="my-5 text-muted">
                Your Shopping Basket
            </h1>
        </div>
    </div>
    <div class="row bg-light p-3 rounded">
        <div class="col">
            <div class="row">
                <div class="col-sm d-flex flex-wrap">
                    {% if basket_items %}
                        <!-- Shopping Basket Table -->
                        <div class="table-responsive rounded">
                            <table class="table table-sm table-borderless">
                                <thead class="text-success">
                                    <tr>
                                        <th scope="col">Image</th>
                                        <th scope="col">Product Info</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Qty</th>
                                        <th scope="col">Subtotal</th>
                                    </tr>
                                </thead>
                                {% for item in basket_items %}
                                    <tr>
                                        <td class="w-25">
                                            {% if item.product.image %}
                                            <!-- Display Product Image -->
                                            <img class="w-100 rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                            {% else %}
                                            <!-- Display Default Image If No Image Available -->
                                            <img class="w-100 rounded" src="{% static 'img/default-image.jpg' %}" alt="{{ item.product.name }}">
                                            {% endif %}
                                        </td>
                                        <td class="py-3">
                                            <!-- Display Product Name and Code -->
                                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                            <p class="my-0 text-muted small">{{ item.product.code }}</p>
                                        </td>
                                        <td class="py-3">
                                            <!-- Display Product Price -->
                                            <p class="my-0">€{{ item.product.price }}</p>
                                        </td>
                                        <td class="py-3 w-25">
                                            <!-- Display Quantity -->
                                            <p class="my-0">{{ item.quantity }}</p>
                                        </td>
                                        <td class="py-3">
                                            <!-- Display Product Size and Calculate Subtotal -->
                                            <p class="my-0"><strong>Size:</strong> {{ item.size|upper }}</p>
                                        </td>
                                        <td>
                                            <!-- Display Subtotal and Include Quantity Form -->
                                            <p class="my-0"><strong>Subtotal: €{{ item.product.price | calc_subtotal:item.quantity }}</strong></p>
                                            {% include "basket/quantity_form.html" %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        
                        <!-- Buttons for Further Actions -->
                        <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0 btn-lg">
                            <i class="fas fa-chevron-left me-2"></i>
                            Keep Shopping
                        </a>
                        <a href="{% url 'checkout' %}" class="btn btn-success rounded btn-lg">
                            <i class="fas fa-lock me-2"></i>
                            <span class="text-uppercase">Secure Checkout</span>
                        </a>
                        <div class="row">
                            <div class="col text-end">
                                <!-- Back to Top Button -->
                                <span class="btn-success back-to-top">Back to Top</span>
                            </div>
                        </div>
                    {% else %}
                        <!-- Empty Basket Message -->
                        <p class="lead mb-5">Your basket is empty</p>
                        <a class="btn btn-lg btn-link text-success" href="{% url 'products' %}">
                            <i class="fas fa-backward me-2"></i>
                            Return to Shop
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_script.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-qty').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/basket/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

<script type="text/javascript">
    // Scroll Back to Top
    $('.back-to-top').click(function (e) {
        window.scrollTo(0, 0);
    })
</script>

{% endblock %}
