/* Custom CSS to remove the gap on the left of the logo */

body {
  background: url('/media/base_image.jpg') no-repeat center center fixed;
  background-size: cover;
  height: calc(100vh - 164px);
  color: black;
  font-family: 'Roboto', sans-serif;
}

.main-logo-link {
    margin-left: 0; /* Remove any left margin */
  }

  /* Optional: To adjust the spacing between the logo and the navigation elements */
  .navbar-nav {
    margin-left: 1px; /* Adjust the margin as needed */
  }

.toast {
  position: absolute !important;
  top: 200px;
  display: block;
}

.allauth-form-inner-content p {
  color: #6c757d;
  margin-top: 1.4rem;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color:#6c757d;
}

.btn-files {
  position: relative;
  overflow: hidden;
}

.btn-files input[type=file] {
  position:absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}
