{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row my-5">
      <div class="col bg-light rounded">
              <h1 class="my-5">Bookings</h1>
      </div>
  </div>
                <!-- <h1 class="mb-4">Bookings</h1>
            </a> -->
            <!-- Display login link if user is not authenticated
            {% if not user.is_authenticated %}
            <p class="mb-3">Please login to view your tee times.</p>
            <a href="{% url 'account_login' %}" class="btn btn-success">Go to Login Page</a>
            {% else %} -->
            <!-- <h1 class="text-primary">Bookings historical:</h1>
            <hr> -->
            <!-- Loop through bookings -->
            <div class="row justify-content-center">
                {% for booking in booking_page %}
                <div class="col-12 col-md-6 mt-4">
                    <div class="card shadow">
                        <div class="card-body text-center">
                            <h2 class="card-title text-primary mb-3">School: {{ booking.school }}</h2>
                            <h3 class="card-subtitle text-muted">Name: {{ booking.name }}</h3>
                            <p class="card-text mt-3">
                                <strong>Date:</strong> {{ booking.requested_date }}<br>
                                <strong>Lesson Time:</strong> {{ booking.requested_time }}<br>
                                <strong>Surfer:</strong> {{ booking.surfer_count }}
                            </p>
                            {% if booking.status == 'Lesson Time Confirmed' %}
                            <p class="text-danger fw-bold">EXPIRED</p>
                            <a class="btn btn-warning btn-sm" href="{% url 'cancel_booking' booking.pk %}" role="button">Cancel</a>
                            {% else %}
                            <p class="text-primary fw-bold">Don't forget pay upon arrival</p>
                            <div class="d-grid gap-2">
                                <a class="btn btn-info btn-sm" href="{% url 'edit_booking' booking.pk %}" role="button">Edit</a>
                                <a class="btn btn-dark btn-sm" href="{% url 'cancel_booking' booking.pk %}" role="button">Cancel</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Pagination -->
            <div class="row d-flex justify-content-center text-center">
                <div class="col">
                    {% if booking_page.has_previous %}
                    <a href="?page=1" class="btn btn-secondary">&laquo; First</a>
                    <a href="?page={{ booking_page.previous_page_number }}" class="btn btn-secondary">Previous</a>
                    {% endif %}
                    Page {{ booking_page.number }} of {{ booking_page.paginator.num_pages }}
                    {% if booking_page.has_next %}
                    <a href="?page={{ booking_page.next_page_number }}" class="btn btn-secondary ">Next</a>
                    <a href="?page={{ booking_page.paginator.num_pages }}" class="btn btn-secondary ">Last &raquo;</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <span class="btn btn-success back-to-top">Back to Top</span>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
