{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row my-5">
      <div class="col bg-light rounded">
              <h1 class="my-5">Bookings</h1>
      </div>
  </div>
                <!-- <h1 class="mb-4">Bookings</h1>
            </a> -->
            <!-- Display login link if user is not authenticated
            {% if not user.is_authenticated %}
            <p class="mb-3">Please login to view your tee times.</p>
            <a href="{% url 'account_login' %}" class="btn btn-success">Go to Login Page</a>
            {% else %} -->
            <!-- <h1 class="text-success">Bookings historical:</h1>
            <hr> -->
            <!-- Loop through bookings -->
            {% for booking in booking_page %}
            <div class="row mb-4">
                {% for booking in booking_page %}
                <div class="col-12 col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="{{ booking.image.url }}" alt="{{ booking.school_name }}">
                        <div class="card-body">
                            <h5 class="card-title text-success"><a href="#">{{ booking.school_name }}</a></h5>
                            <p class="card-text">
                                <strong>Name:</strong> {{ booking.name }}<br>
                                <strong>Date:</strong> {{ booking.requested_date }}<br>
                                <strong>Tee Time:</strong> {{ booking.requested_time }}<br>
                                <strong>Surfers:</strong> {{ booking.surfer_count }}
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'edit_booking' booking.pk %}" class="btn btn-success">Edit</a>
                            <a href="{% url 'cancel_booking' booking.pk %}" class="btn btn-warning">Cancel Booking</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <!-- Pagination -->
            <div class="row d-flex justify-content-center text-center">
                <div class="col">
                    {% if booking_page.has_previous %}
                    <a href="?page=1" class="btn btn-link">&laquo; First</a>
                    <a href="?page={{ booking_page.previous_page_number }}" class="btn btn-link">Previous</a>
                    {% endif %}
                    Page {{ booking_page.number }} of {{ booking_page.paginator.num_pages }}
                    {% if booking_page.has_next %}
                    <a href="?page={{ booking_page.next_page_number }}" class="btn btn-link">Next</a>
                    <a href="?page={{ booking_page.paginator.num_pages }}" class="btn btn-link">Last &raquo;</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="#" class="btn btn-success float-end">Back to Top</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
