{% extends 'base.html' %}
{% load static %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="container list-container">
  <div class="row">
    <div class="col-12">
      <div class="row">
        {% for school in schools %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow-sm">
              <img src="{{ school.image.url }}" alt="Surf School" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title text-success">{{ school.school_name }}</h5>
                <p class="card-text">{{ school.description }}</p>
                <a href="#" class="btn btn-primary">Details</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

<div class="row">
  <div class="col">
    <a href="#" class="btn btn-success float-end back-to-top">Back to Top</a>
  </div>
</div>