{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col bg-light rounded">
            <!-- Blog title link -->
            <a class="text-success text-decoration-none" href="{% url 'blog' %}">
                <h1 class="my-5">
                    Blog
                </h1>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="row my-5 justify-content-center">
            {% for post in postings %}
            {% if post.status %}
            <div class="col-12 col-md-6 my-3">
                <div class="card shadow card-sl">
                    <!-- Post image -->
                    {% if post.featured_image %}
                    <img class="card-img-top img-fluid" src="{{ post.featured_image.url }}" alt="{{ post.title }} Image">
                    {% else %}
                    <img class="card-img-top img-fluid" src="{% static 'img/noimage.jpg' %}" alt="Default Image">
                    {% endif %}
                    <div class="card-body">
                        <!-- Post title -->
                        <h2 class="card-title mt-3 card-title-sl">Title: {{ post.title }}</h2>
                        <!-- Author -->
                        <p class="card-subtitle mb-2">By: {{ post.author }}</p>
                        <!-- Excerpt -->
                        <p class="card-text mt-3 card-text-sl">Excerpt: {{ post.excerpt|safe }}</p>
                        <hr>
                        <!-- Created date -->
                        <p class="card-text h6 mb-3">Created: {{ post.created_date }}</p>
                        <!-- Details button -->
                        <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary btn-primary-sl">Details</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <!-- Pagination -->
                <ul class="pagination justify-content-center">
                    {% if postings.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo; First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ postings.previous_page_number }}">Previous</a>
                    </li>
                    {% endif %}
                    <li class="page-item disabled">
                        <span class="page-link">Page {{ postings.number }} of {{ postings.paginator.num_pages }}</span>
                    </li>
                    {% if postings.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ postings.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ postings.paginator.num_pages }}">Last &raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div class="row">
                <div class="col">
                    <!-- Back to Top button -->
                    <span class="btn btn-success back-to-top">Back to Top</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
