{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Book Surf Lessons, Buy Surf Clothing and accessories">
    <meta name="keywords" content="Surf Lessons, Surfing Ireland, Surf Gear, Wetsuits, Surfboards, Surf Equipment, Surf School, Learn to Surf, Surfing Instructors, Surfing Classes, Surf Rentals, Beach Breaks, Irish Surfing, Surfing Spots, Surfing Holidays, Surf Camps, Surfing Gear Shop, Surfboard Rentals, Surfing Adventures, Surfing Gear Online, Surfing Safety, Surfing Tips, Surfing Techniques, Surfing Community, Surfing Events, Surfboard Maintenance, Surfboard Repair, Surfboard Brands, Surfboard Types, Surfboard Shapes, Surfboard Size Guide, Surfboard Fins, Surfing Accessories, Surfboard Leashes, Surfboard Wax, Surfboard Bags, Surfing Apparel, Surfing Lifestyle, Surfing Weather, Irish Coastline">
    <meta name="author" content="BWOGIT">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'img/site.webmanifest' %}">
      {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/0580896cd6.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Surf Haven {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top">

    
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand main-logo-link" href="{% url 'home' %}">
                <img class="logo" src="{% static 'img/apple-touch-icon.png' %}" alt="surf haven logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="surfSchoolsDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Surf Schools
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="surfSchoolsDropdown">
                            <li><a class="dropdown-item" href="#">School 1</a></li>
                            <li><a class="dropdown-item" href="#">School 2</a></li>
                            <li><a class="dropdown-item" href="#">School 3</a></li>
                            <li><a class="dropdown-item" href="#">School 4</a></li>
                        </ul>
                    </li>
                    <!-- Use Django's if statement to conditionally show the menu item -->
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="surfLessonsDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Surf Lessons
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="surfLessonsDropdown">
                                <li><a class="dropdown-item" href="#">Lesson Type 1</a></li>
                                <li><a class="dropdown-item" href="#">Lesson Type 2</a></li>
                                <li><a class="dropdown-item" href="#">Lesson Type 3</a></li>
                                <li><a class="dropdown-item" href="#">Lesson Type 4</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                          Shop
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Surfboards</a>
                          <a class="dropdown-item" href="#">Men Wetsuits</a>
                          <a class="dropdown-item" href="#">Men Surfwear</a>
                          <a class="dropdown-item" href="#">Ladies Surfwear</a>
                          <a class="dropdown-item" href="#">Children Surfwear</a>
                          <a class="dropdown-item" href="#">Ladies Wetsuits</a>
                          <a class="dropdown-item" href="#">Children Wetsuits</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'products' %}">All Products</a>
                        </div>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                 <!-- Search Box -->
                <div class="container">
                    <div class="row mx-auto">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-dark" type="submit"><span class="icon"><i
                            class="fas fa-search"></i></span></button>
                        </button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

{% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    {% block postloadjs %}
    {% endblock %}

    
  </body>
</html>