{% extends 'base.html' %}
{% load static %}

{% block page_header %}
  <!-- Add any specific page header content here if needed -->
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
  <div class="row bg-light my-5 p-3 rounded">
    <div class="col">
      <div class="justify-content-center text-center rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-12 p-3 rounded card">
              <h2 class="logo-font">Shop</h2>
              {% for c in current_categories %}
                <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                  <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
                </a>
              {% endfor %}
              <h2 class="border bg-success text-light rounded p-1 shadow" style="float:right;">Free Shipping on orders over €{{ free_delivery_threshold }}</h2>
            </div>
          </div>
          
          <div class="row bg-light p-3 rounded mt-3">
            <div class="col-md-2 d-none d-lg-block">
              <h2 class="fs-6">Browse Categories</h2>
              <hr>
              <ul class="list-unstyled">
                {% for category in categories_list %}
                  <li><a class="nav-link text-muted" href="{% url 'products' %}?category={{category.name}}">{{ category.friendly_name }}</a></li>
                {% endfor %}
                <li><a class="nav-link text-muted" href="{% url 'products' %}">All Products</a></li>
              </ul>
              <h2 class="fs-6">Sort</h2>
              <form id="sort-form" method="get" action="{% url 'products' %}">
                <select name="sort" id="sort-select" class="form-select">
                  <option value="">Sort by...</option>
                  <option value="category">By Category</option>
                  <option value="price">By Price</option>
                  <option value="brand">By Brand</option>
                  <option value="rating">By Rating</option>
                </select>
                <button type="submit" class="btn btn-sm btn-secondary mt-2">Sort</button>
              </form>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-sm d-flex flex-wrap">
                  {% for product in products %}
                  <div class="card m-2 me-md-2 p-3 product-card">
                    {% if product.image %}
                      <a href=""><img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                    {% else %}
                      <a href=""><img class="card-img-top" src="{% static 'img/default-image.jpg' %}" alt="{{ product.name }}"></a>
                    {% endif %}
                    <div class="card-body">
                      <p class="card-title fs-6"><strong>{{ product.friendly_name }}</strong></p>
                      <h3 class="fs-5">{{ product.name }}</h3>
                      <span class="fs-6 text-muted">{{ product.brand }}</span>
                      <hr>
                      <p class="font-weight-bold">Price: €{{ product.price }}</p>
                      {% if product.rating %}
                        <div class="text-muted"><i class="fas fa-star"></i> {{ product.rating }}</div>
                      {% endif %}
                      <a class="btn btn-sm btn-secondary" href="{% url 'product_detail' product.id %}" role="button">Details</a>
                      {% if request.user.is_superuser %}
                        <small>
                          <a class="btn btn-sm btn-outline-success" href="{% url 'edit_product' product.id %}">Edit</a>
                          <a class='btn btn-sm btn-outline-danger' href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                      {% endif %}
                    </div>
                  </div>
                  {% empty %}
                    <p class="text-center w-100 fs-6 mt-5">Sorry, no matching products</p>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
