{% extends 'base.html' %}
{% load static %}

{% block page_header %}
  <!-- Add any specific page header content here if needed -->
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
  <div class="row bg-light my-5 p-3 rounded">
    <div class="col">
      <div class="justify-content-center text-center rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-12 p-3 rounded card">
              <h2 class="logo-font">Shop</h2>
              {% for c in current_categories %}
                <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                  <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
                </a>
              {% endfor %}
              <h2 class="border bg-success text-light rounded p-1 shadow" style="float:right;">Free Shipping on orders over €{{ free_delivery_threshold }}</h2>
            </div>
            <span class="text-muted mt-3 text-center text-success text-md-left">
                {% if search_term or current_categories or current_sorting != 'None_None' %}
                <span class="small"><a class="text-success" href="{% url 'products' %}">All Products</a>
                    |</span>
                {% endif %}
                {{ products|length }} Items{% if search_term %} found for
                <strong>"{{ search_term }}"</strong>{% endif %}
            </span>
        </div>
          
        <div class="row bg-light p-3 rounded mt-3">
            <div class="col-md-2 d-none d-lg-block">
                <h2 class="fs-6">CATEGORIES</h2>
                <hr>
                <p><a class="nav-link text-success" href="{% url 'products' %}">All Products</a></p>
                {% for category in categories_list %}
                <p><a class="nav-link text-success"
                        href="{% url 'products' %}?category={{category.name}}">{{ category.friendly_name }}</a></p>
                {% endfor %}
                <h2 class="fs-6">All Products</h2>
                <hr>
                <p><a href="{% url 'products' %}?sort=price&direction=desc"
                        class="nav-link text-decoration-none text-success">By
                        Price</a></p>
                <p><a href="{% url 'products' %}?sort=category&direction=asc"
                        class="nav-link text-decoration-none text-success">By
                        Category</a></p>
                <p><a href="{% url 'products' %}?sort=brand&direction=desc"
                        class="nav-link text-decoration-none text-success">By
                        Brand</a></p>
                <p><a href="{% url 'products' %}?sort=rating&direction=desc"
                        class="nav-link text-decoration-none text-success">By
                        Rating</a></p>
              
              <form id="sort-form" method="get" action="{% url 'products' %}">
              </form>
            </div>
            <div class="col">
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                            {% if product.category %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                            {% if request.user.is_superuser %}
                                                <small class="ml-3">
                                                    <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
