<div class="toast custom-toast rounded-0 border border-top-0 border-danger" data-bs-autohide="false">
    <div class="arrow-up arrow-danger"></div>
    <div class="w-100 toast-capper bg-danger"></div>
    <button type="button" class="m-2 btn btn-secondary btn-sm close" data-bs-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="toast-header bg-white text-dark">
      <strong class="me-auto">Error!</strong>
    </div>
    <div class="toast-body bg-white">
      {{ message }}
    </div>
  </div>
  